#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_nicoin
#build/nicoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_nicoin)

DEB_INSTALL_EXAMPLES_nicoind += debian/examples/*
DEB_INSTALL_MANPAGES_nicoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 nicoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f nicoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake NiCoIn-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_nicoin
	#src/test_nicoin

# Ensure wrapper is set executable
binary-post-install/nicoind:
	chmod +x $(cdbs_curdestdir)usr/bin/nicoind
binary-post-install/NiCoIn-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/NiCoIn-qt
